@use '@/assets/styles/variables.scss' as vars;
@use '@/assets/styles/mixins/response.scss';

.data-view-btn {
  // Custom button styles if needed
}

.modal-content {
  max-height: 60vh;
  overflow: auto;
  padding: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: vars.$spacing-base;
  border-bottom: 1px solid vars.$color-border;
}

.modal-title {
  font-size: vars.$font-size-header-5;
  font-weight: vars.$font-weight-bold;
  color: vars.$color-text-0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: vars.$spacing-base;
  border-top: 1px solid vars.$color-border;
}