.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* 
admin pages
*/

.admin-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;

  &-header {
    display: flex;
    align-items: center;
    height: 64px;
    //line-height: 64px;
    background-color: var(--semi-color-bg-1);
  }

  &-content {
    flex: 1;
    overflow: hidden;
    background: var(--sur-bg-color);
  }

  &-sider {
    //width: 200px;
    background-color: var(--semi-color-fill-2);

    &-nav {
      height: 100%;
      max-width: 200px;
    }
  }

  &-right-cnt {
    height: 100%;
    overflow-y: auto;
    padding: 16px;
    // background-color: var(--semi-color-bg-0);
  }

  &-footer {
    height: 64px;
    line-height: 64px;
    background-color: var(--semi-color-bg-1);
    color: var(--semi-color-text-1);
    padding-left: 20px;
  }
}