.admin-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.admin-toolbar {
  background-color: var(--semi-color-bg-1);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: var(--semi-border-radius-medium);
  border: 1px solid rgba(var(--semi-grey-1), 0.3);

  &-title {
    color: var(--semi-color-text-0);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 8px;
  }
}

.admin-content {
  color: var(--semi-color-text-0);
  padding: 10px;
  background-color: var(--semi-color-bg-1);
  border-radius: var(--semi-border-radius-medium);
  flex: 1;
  height: 100%;
  overflow-y: auto;
}
