html,
body {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  height: 100%;
  scroll-behavior: smooth;

  background-color: var(--semi-color-bg-0);
  color: var(--semi-color-text-0);
}

html.dark {
  color-scheme: dark;
}

body {
  --box-bg-color: #{$app-box-bg-light};
  --sur-bg-color: #{$app-sur-bg-light};
}

body[theme-mode='dark'] {
  --app-box-bg: #{$app-box-bg-dark};
  --cate-box-bg: rgba(var(--semi-grey-8), 0.08);
  --box-bg-color: #{$app-box-bg-dark};
  --sur-bg-color: #{$app-sur-bg-dark};
}
