.btn.icon-btn {
  padding-left: 8px;
  padding-right: 8px;
  display: inline-flex;
  border-radius: var(--semi-border-radius-small);
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--semi-color-text-2);
  border: 0 transparent solid;
  transition: background-color var(--semi-transition_duration-none) var(--semi-transition_function-easeIn) var(--semi-transition_delay-none);
  transform: scale(var(--semi-transform_scale-none));
  box-shadow: none;
  font-size: 14px;
  line-height: 20px;
  height: 32px;
  font-weight: 600;
  outline: none;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--semi-color-fill-0);
    border: 0 transparent solid;
  }
}


.text-primary {
  color: var(--semi-color-primary);
}

.text-error {
  color: var(--semi-color-error);
}