$header-height: 60px;

$container-width: 1140px;

$small-radius: 4px;
$medium-radius: 8px;
$large-radius: 12px;

$h3-font-size: 18px;
$h4-font-size: 16px;
$h5-font-size: 14px;

$extra-small-text: 12px;
$small-text: 14px;
$base-text: 16px;
$large-text: 18px;
$extra-large-text: 20px;

$small-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
$base-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
$large-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
$extra-large-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);

$app-main-padding: 20px;

$header-z-index: 11;
$main-nav-z-index: 12;

$app-box-bg-dark: #292b30;
$app-box-bg-light: #fff;

$app-sur-bg-dark: #202125;
$app-sur-bg-light: #f0f0f0;
